
:root{--background-color: #FFFFFF;
--text-item-color:#2E2F42;
--text-color:#434455;
--footer-text-color:#E7E9FC;
--btn-color:#E7E9FC;
--btn-active-colore:#4D5AE5;
--hover-focus-color:#404BBF;}
body {font-family: 'Roboto', sans-serif;font-weight:400;line-height: 1.5;background-color: #FFFFFF;}
a{ text-decoration: none;}
ul{list-style-type: none;}
/*header*/
.header {
}
.header-logo {
}
.log {
}
.header-list {
}
.header-item {
}
.header-navigation {
}
.header-nav {
}
/*main*/
.title {
}
.title-text {
}
.btn {
}
.visually-hiden {position: absolute; 
white-space:nowrap;width: 1px;
height: 1px; overflow: hidden; border:0;
padding: 0; clip:rect(0 0 0 0); clip-path: inset(50%);
margin: -1px;}
.charecter {
}
.hero {
}
.ourteam {
}
.hero-box {
}
.footer {
}
.footer-logo {
}
.footer-sub {
}